USE [master]
GO
/****** Object:  Database [uesr12]    Script Date: 26.09.2023 10:21:39 ******/
CREATE DATABASE [uesr12]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'uesr12', FILENAME = N'C:\Users\danil\uesr12.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'uesr12_log', FILENAME = N'C:\Users\danil\uesr12_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [uesr12].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [uesr12]
GO
/****** Object:  Table [dbo].[Agents$]    Script Date: 26.09.2023 10:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents$](
	[AgentType] [nvarchar](255) NULL,
	[AgentTypeID] [int] NULL,
	[AgentName] [nvarchar](255) NULL,
	[AgentId] [float] NULL,
	[E-mail] [nvarchar](255) NULL,
	[Number] [nvarchar](255) NULL,
	[Logo] [nvarchar](255) NULL,
	[Adress] [nvarchar](255) NULL,
	[Priority] [nvarchar](255) NULL,
	[Director] [nvarchar](255) NULL,
	[ИНН] [float] NULL,
	[КПП] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products$]    Script Date: 26.09.2023 10:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products$](
	[ProductName] [nvarchar](255) NULL,
	[Id] [float] NULL,
	[ProductType] [nvarchar](255) NULL,
	[ProductTypeId] [int] NULL,
	[Article] [float] NULL,
	[PeopleCount] [int] NULL,
	[WorkShopName] [float] NULL,
	[MinPriceAgent] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellHistories$]    Script Date: 26.09.2023 10:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellHistories$](
	[Id] [int] NULL,
	[Products] [nvarchar](255) NULL,
	[ProductId] [int] NULL,
	[AgentName] [nvarchar](255) NULL,
	[AgentId] [int] NULL,
	[Date] [datetime] NULL,
	[CountProducts] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Agents$] ([AgentType], [AgentTypeID], [AgentName], [AgentId], [E-mail], [Number], [Logo], [Adress], [Priority], [Director], [ИНН], [КПП]) VALUES (N'МКК', 1, N'МонтажОрионУрал', 1, N'pzaitev@blokin.org', N'(35222) 67-39-26', N'\agents\agent_96.png', N'027573, Тамбовская область, город Коломна, ул. Ленина, 20', N'50', N'Давыдоваа Нина Евгеньевна', 1692286718, 181380912)
INSERT [dbo].[Agents$] ([AgentType], [AgentTypeID], [AgentName], [AgentId], [E-mail], [Number], [Logo], [Adress], [Priority], [Director], [ИНН], [КПП]) VALUES (N'МКК', 1, N'МетизСтрой', 2, N'kristina.pakomov@burova.ru', N' 8-800-172-62-56', N'\agents\agent_94.png', N'254238, Нижегородская область, город Павловский Посад, проезд Балканская, 23', N'374', N'Ева Борисовна Беспалова', 4024742936, 295608432)
INSERT [dbo].[Agents$] ([AgentType], [AgentTypeID], [AgentName], [AgentId], [E-mail], [Number], [Logo], [Adress], [Priority], [Director], [ИНН], [КПП]) VALUES (N'ОАО', 2, N'РадиоСевер', 3, N'maiy.belov@rogov.ru', N'(495) 368-86-51', N'\agents\agent_123.png', N'491360, Московская область, город Одинцово, въезд Ленина, 19', N'431', N'Карпов Иосиф Максимович', 5889206249, 372789083)
GO
INSERT [dbo].[Products$] ([ProductName], [Id], [ProductType], [ProductTypeId], [Article], [PeopleCount], [WorkShopName], [MinPriceAgent]) VALUES (N'Попрыгунчик детский красный 1289', 1, N' Для маленьких деток', 1, 82925345, 4, 10, 1919.0000)
INSERT [dbo].[Products$] ([ProductName], [Id], [ProductType], [ProductTypeId], [Article], [PeopleCount], [WorkShopName], [MinPriceAgent]) VALUES (N'Попрыгунчик детский желтый 6678', 2, N' Для больших деток', 2, 80007300, 2, 1, 1768.0000)
INSERT [dbo].[Products$] ([ProductName], [Id], [ProductType], [ProductTypeId], [Article], [PeopleCount], [WorkShopName], [MinPriceAgent]) VALUES (N'Попрыгунчик детский 6888', 3, N' Для маленьких деток', 1, 13875235, 4, 12, 1972.0000)
GO
INSERT [dbo].[SellHistories$] ([Id], [Products], [ProductId], [AgentName], [AgentId], [Date], [CountProducts]) VALUES (1, N'Попрыгунчик для кошечек 2604', 10, N'КазаньТекстиль', 90, CAST(N'2010-06-21T00:00:00.000' AS DateTime), 7)
INSERT [dbo].[SellHistories$] ([Id], [Products], [ProductId], [AgentName], [AgentId], [Date], [CountProducts]) VALUES (2, N'Попрыгунчик для собачек 5754', 23, N'Компания ФинансСервис', 70, CAST(N'2016-02-17T00:00:00.000' AS DateTime), 18)
INSERT [dbo].[SellHistories$] ([Id], [Products], [ProductId], [AgentName], [AgentId], [Date], [CountProducts]) VALUES (3, N'Попрыгунчик для собачек 4485', 24, N'РемГаражЛифт', 38, CAST(N'2012-11-07T00:00:00.000' AS DateTime), 9)
GO
USE [master]
GO
