USE [master]
GO
/****** Object:  Database [uesr12]    Script Date: 26.09.2023 10:18:34 ******/
CREATE DATABASE [uesr12]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'uesr12', FILENAME = N'C:\Users\danil\uesr12.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'uesr12_log', FILENAME = N'C:\Users\danil\uesr12_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [uesr12].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [uesr12]
GO
/****** Object:  Table [dbo].[Agents$]    Script Date: 26.09.2023 10:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents$](
	[AgentType] [nvarchar](255) NULL,
	[AgentTypeID] [int] NULL,
	[AgentName] [nvarchar](255) NULL,
	[AgentId] [float] NULL,
	[E-mail] [nvarchar](255) NULL,
	[Number] [nvarchar](255) NULL,
	[Logo] [nvarchar](255) NULL,
	[Adress] [nvarchar](255) NULL,
	[Priority] [nvarchar](255) NULL,
	[Director] [nvarchar](255) NULL,
	[ИНН] [float] NULL,
	[КПП] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products$]    Script Date: 26.09.2023 10:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products$](
	[ProductName] [nvarchar](255) NULL,
	[Id] [float] NULL,
	[ProductType] [nvarchar](255) NULL,
	[ProductTypeId] [int] NULL,
	[Article] [float] NULL,
	[PeopleCount] [int] NULL,
	[WorkShopName] [float] NULL,
	[MinPriceAgent] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellHistories$]    Script Date: 26.09.2023 10:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellHistories$](
	[Id] [int] NULL,
	[Products] [nvarchar](255) NULL,
	[ProductId] [int] NULL,
	[AgentName] [nvarchar](255) NULL,
	[AgentId] [int] NULL,
	[Date] [datetime] NULL,
	[CountProducts] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
